{% extends 'base.html' %}

{% block title %}
Курсы
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h1>Курсы</h1>

    {% if is_methodist %}
        <a class="btn btn-primary"
           href="/courses/add/">
            Добавить курс
        </a>
    {% endif %}

</div>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Факультет</th>

            {% if is_methodist %}
                <th>Действия</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>

        {% for course in courses %}

        <tr>

            <td>
                {{ course.id }}
            </td>

            <td>
                {{ course.title }}
            </td>

            <td>
                {{ course.description }}
            </td>

            <td>
                {{ course.department.name }}
            </td>

            {% if is_methodist %}

            <td>

                <a class="btn btn-sm btn-warning"
                   href="/courses/{{ course.id }}/edit/">
                    Изменить
                </a>

                <a class="btn btn-sm btn-danger"
                   href="/courses/{{ course.id }}/delete/">
                    Удалить
                </a>

            </td>

            {% endif %}

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}